<div id="container-cards">
	<div id="cards-title">Други картички</div>
	<hr id="cards-hr">
	<table id="cards">
		<tr id="cards-pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=31&name=Флорално пиано&price=6.95"><img src="img/cards/31.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=31&name=Флорално пиано&price=6.95">Флорално пиано</a></div>
				<hr>
				<div class="card-price">6.95 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=31&name=Флорално пиано&price=6.95">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=32&name=Котешка розa&price=8.00"><img src="img/cards/32.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=32&name=Котешка розa&price=8.00">Котешка розa</a></div>
				<hr>
				<div class="card-price">8.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=32&name=Котешка розa&price=8.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=33&name=Лисица бизнесмен&price=7.00"><img src="img/cards/33.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=33&name=Лисица бизнесмен&price=7.00">Лисица бизнесмен</a></div>
				<hr>
				<div class="card-price">7.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=33&name=Лисица бизнесмен&price=7.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=34&name=Около света&price=3.50"><img src="img/cards/34.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=34&name=Около света&price=3.50">Около света</a></div>
				<hr>
				<div class="card-price">3.50 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=34&name=Около света&price=3.50">виж повече</a></div>
			</td>
		</tr>
		<tr id="cards-pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=35&name=Морска звезда&price=2.00"><img src="img/cards/35.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=35&name=Морска звезда&price=2.00">Морска звезда</a></div>
				<hr>
				<div class="card-price">2.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=35&name=Морска звезда&price=2.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=36&name=Господин лъв&price=5.00"><img src="img/cards/36.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=36&name=Господин лъв&price=5.00">Господин лъв</a></div>
				<hr>
				<div class="card-price">5.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=36&name=Господин лъв&price=5.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=37&name=Жабокът принц&price=4.95"><img src="img/cards/37.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=37&name=Жабокът принц&price=4.95">Жабокът принц</a></div>
				<hr>
				<div class="card-price">4.95 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=37&name=Жабокът принц&price=4.95">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=38&name=Светлините на Сиатъл&price=9.00"><img src="img/cards/38.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=38&name=Светлините на Сиатъл&price=9.00">Светлините на Сиатъл</a></div>
				<hr>
				<div class="card-price">9.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=38&name=Светлините на Сиатъл&price=9.00">виж повече</a></div>
			</td>
		</tr>
	</table>
</div>