<div id="container_cards">
	<div id="cards_title">ЧРД картички</div>
	<hr id="cards_hr">
	<table id="cards">
		<tr id="cards_pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=11&name=Ню Йорк&price=7.95"><img src="img/cards/11.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=11&name=Ню Йорк&price=7.95">Ню Йорк</a></div>
				<div class="card-price">7.95 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=11&name=Ню Йорк&price=7.95">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=12&name=Хипстърска маска&price=10.50"><img src="img/cards/12.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=12&name=Хипстърска маска&price=10.50">Хипстърска маска</a></div>
				<div class="card-price">10.50 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=12&name=Хипстърска маска&price=10.50">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=13&name=Пеперуда&price=5.00"><img src="img/cards/13.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=13&name=Пеперуда&price=5.00">Пеперуда</a></div>
				<div class="card-price">5.00 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=13&name=Пеперуда&price=5.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=14&name=Парти очила&price=11.50"><img src="img/cards/14.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=14&name=Парти очила&price=11.50">Парти очила</a></div>
				<div class="card-price">11.50 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=14&name=Парти очила&price=11.50">виж повече</a></div>
			</td>
		</tr>
		<tr id="cards_pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=15&name=Цветни балони&price=6.95"><img src="img/cards/15.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=15&name=Цветни балони&price=6.95">Цветни балони</a></div>
				<div class="card-price">6.95 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=15&name=Цветни балони&price=6.95">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=16&name=Русалка&price=2.00"><img src="img/cards/16.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=16&name=Русалка&price=2.00">Русалка</a></div>
				<div class="card-price">2.00 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=16&name=Русалка&price=2.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=17&name=Слънчице&price=3.00"><img src="img/cards/17.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=17&name=Слънчице&price=3.00">Слънчице</a></div>
				<div class="card-price">3.00 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=17&name=Слънчице&price=3.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=18&name=Цветна риба&price=5.00"><img src="img/cards/18.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=18&name=Цветна риба&price=5.00">Цветна риба</a></div>
				<div class="card-price">5.00 лв.</div>
				<div class="card-add-button"><a href="#/singlecard?imgId=18&name=Цветна риба&price=5.00">виж повече</a></div>
			</td>
		</tr>
	</table>
</div>