<div id="container_cards">
	<div id="cards_title">Други картички</div>
	<hr id="cards_hr">
	<table id="cards">
		<tr id="cards_pictures">
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/1.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/2.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/3.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/4.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Флорално пиано</a></td>
			<td><a href="#/singlecard">Котешка роза</a></td>
			<td><a href="#/singlecard">Лисица бизнесмен</a></td>
			<td><a href="#/singlecard">Около света</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>6,95 лв.</td>
			<td>8,00 лв.</td>
			<td>7,99 лв.</td>
			<td>3,50 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
		<tr id="cards_pictures">
			<td class="card"><a  href="#/singlecard"><img src="img/cards/other/5.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/6.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/7.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/other/8.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Морска звезда</a></td>
			<td><a href="#/singlecard">Господин лъв</a></td>
			<td><a href="#/singlecard">Жабокът принц</a></td>
			<td><a href="#/singlecard">Светлините на Сиатъл</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>2,00 лв.</td>
			<td>5,00 лв.</td>
			<td>4,95 лв.</td>
			<td>9,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
	</table>
</div>