<div id="container_cards">
	<div id="cards_title">Сватбени картички</div>
	<hr id="cards_hr">
	<table id="cards">
		<tr id="cards_pictures">
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/1.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/2.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/3.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/4.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Любовта е във въздуха</a></td>
			<td><a href="#/singlecard">Наздравица</a></td>
			<td><a href="#/singlecard">Сребърна дантела</a></td>
			<td><a href="#/singlecard">Г-н и г-жа всичко най-добро</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>5,95 лв.</td>
			<td>4,95 лв.</td>
			<td>8,00 лв.</td>
			<td>5,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
		<tr id="cards_pictures">
			<td class="card"><a  href="#/singlecard"><img src="img/cards/wedding/5.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/6.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/7.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/wedding/8.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Сватбена торта</a></td>
			<td><a href="#/singlecard">Ръчноизработено цвете</a></td>
			<td><a href="#/singlecard">Костюмари</a></td>
			<td><a href="#/singlecard">Летящ балон</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>2,50 лв.</td>
			<td>4,95 лв.</td>
			<td>8,95 лв.</td>
			<td>12,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
	</table>
</div>