<div id="container_cards">
	<div id="cards_title">ЧРД картички</div>
	<hr id="cards_hr">
	<table id="cards">
		<tr id="cards_pictures">
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/1.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/2.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/3.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/4.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Цветна риба</a></td>
			<td><a href="#/singlecard">Ню Йорк</a></td>
			<td><a href="#/singlecard">Хипстърска маска</a></td>
			<td><a href="#/singlecard">Пеперуда</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>4,95 лв.</td>
			<td>7,95 лв.</td>
			<td>10,50 лв.</td>
			<td>5,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
		<tr id="cards_pictures">
			<td class="card"><a  href="#/singlecard"><img src="img/cards/birthday/5.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/6.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/7.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/birthday/8.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Парти очила</a></td>
			<td><a href="#/singlecard">Цветни балони</a></td>
			<td><a href="#/singlecard">Русалка</a></td>
			<td><a href="#/singlecard">Слънчице</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>11,50 лв.</td>
			<td>3,99 лв.</td>
			<td>6,95 лв.</td>
			<td>2,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
	</table>
</div>