<div id="container_cards">
	<table id="cards">
		<tr id="cards_pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/1.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Алена страст</a></div>
				<div class="card-price">179.50</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/2.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Цветна изненада</a></div>
				<div class="card-price">23.00</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/3.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Сърце от нежни цветове</a></div>
				<div class="card-price">9.50</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/4.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Сърце в кутия</a></div>
				<div class="card-price">22.50</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
		</tr>
		<tr id="cards_pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/5.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Кутията на кучето</a></div>
				<div class="card-price">179.50</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/6.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Букет "Амарилис"</a></div>
				<div class="card-price">23.00</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/7.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Букет "Романтична планета"</a></div>
				<div class="card-price">9.50</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard"><img src="img/cards/flowers/8.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard">Букет "Гербер"</a></div>
				<div class="card-price">22.50</div>
				<div class="card-add-button"><a href="#/singlecard">виж повече</a></div>
			</td>
		</tr>
	</table>
</div>