<div id="container_cards">
	<div id="cards_title">ЧРД картички</div>
	<hr id="cards_hr">
	<table id="cards">
		<tr id="cards_pictures">
			<td class="card"><a  href="#/singlecard"><img src="img/cards/flowers/1.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/2.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/3.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/4.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Алена страст</a></td>
			<td><a href="#/singlecard">Цветна изненада</a></td>
			<td><a href="#/singlecard">Сърце от нежни цветове</a></td>
			<td><a href="#/singlecard">Сърце в кутия</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>179,50 лв.</td>
			<td>23,00 лв.</td>
			<td>32,00 лв.</td>
			<td>59,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
		<tr id="cards_pictures">
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/5.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/6.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/7.jpg"></a></td>
			<td class="card"><a href="#/singlecard"><img src="img/cards/flowers/8.jpg"></a></td>
		</tr>
		<tr id="cards_name">
			<td><a href="#/singlecard">Кутията на кучето</a></td>
			<td><a href="#/singlecard">Букет "Амарилис"</a></td>
			<td><a href="#/singlecard">Букет "Романтична планета"</a></td>
			<td><a href="#/singlecard">Букет "Гербер"</a></td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_price">
			<td>28,00 лв.</td>
			<td>39,00 лв.</td>
			<td>121,00 лв.</td>
			<td>44,00 лв.</td>
		</tr>
		<tr class="cards_hLine">
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
			<td><hr></td>
		</tr>
		<tr id="cards_buttons">
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
			<td><li><a href="#/singlecard">виж повече</a></li></td>
		</tr>
	</table>

</div>