<div id="container-cards">
	<table id="flowers">
		<tr id="cards-pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=1&name=Алена страст&price=179.50"><img src="img/cards/1.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=1&name=Алена страст&price=179.50">Алена страст</a></div>
				<hr>
				<div class="card-price">179.50 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=1&name=Алена страст&price=179.50">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=2&name=Цветна изненада&price=23.00"><img src="img/cards/2.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=2&name=Цветна изненада&price=23.00">Цветна изненада</a></div>
				<hr>
				<div class="card-price">23.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=2&name=Цветна изненада&price=23.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=3&name=Сърце от цветове&price=32.00"><img src="img/cards/3.jpg"></a></div>
				<div class="card-name"><a href="#//inglecard?imgId=3&name=Сърце от цветове&price=32.00">Сърце от цветове</a></div>
				<hr>
				<div class="card-price">32.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=3&name=Сърце от цветове&price=32.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=4&name=Сърце в кутия&price=59.00"><img src="img/cards/4.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=4&name=Сърце в кутия&price=59.00">Сърце в кутия</a></div>
				<hr>
				<div class="card-price">59.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=4&name=Сърце в кутия&price=59.00">виж повече</a></div>
			</td>
		</tr>
		<tr id="cards-pictures">
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=5&name=Кутията на кучето&price=28.00"><img src="img/cards/5.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=5&name=Кутията на кучето&price=28.00">Кутията на кучето</a></div>
				<hr>
				<div class="card-price">28.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=5&name=Кутията на кучето&price=28.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=6&name=Букет 'Амарилис'&price=39.00"><img src="img/cards/6.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=6&name=Букет 'Амарилис'&price=39.00">Букет "Амарилис"</a></div>
				<hr>
				<div class="card-price">28.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=6&name=Букет 'Амарилис'&price=39.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=7&name=Букет 'Благодаря'&price=121.00"><img src="img/cards/7.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=7&name=Букет 'Благодаря'&price=121.00">Букет "Благодаря"</a></div>
				<hr>
				<div class="card-price">121.00 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=7&name=Букет 'Благодаря'&price=121.00">виж повече</a></div>
			</td>
			<td class="card">
				<div class="card-image"><a  href="#/singlecard?imgId=8&name=Букет 'Гербер'&price=44.50"><img src="img/cards/8.jpg"></a></div>
				<div class="card-name"><a href="#/singlecard?imgId=8&name=Букет 'Гербер'&price=44.50">Букет "Гербер"</a></div>
				<hr>
				<div class="card-price">44.50 лв.</div>
				<hr>
				<div class="card-add-button"><a href="#/singlecard?imgId=8&name=Букет 'Гербер'&price=44.50">виж повече</a></div>
			</td>
		</tr>
	</table>
</div>