	<div id="container">
			<div class="slider">
				<div id="slides">
					<img src="../img/img_slider/cards.jpg">
					<img src="../img/img_slider/flowers.jpeg">
				</div>
			</div>

			<div id="weekly_offers">
				<p>Най-продавани</p>
				<hr>
				<table>
					<tr id="pictures">
						<td id="offer1"><a  href="http://google.bg"><img src="../img/cards/home/mermaid.jpg"></a></td>
						<td id="offer4"><a href="http://google.bg"><img src="../img/cards/home/cat.jpg"></a></td>
						<td id="offer2"><a href="http://google.bg"><img src="../img/cards/home/world.jpg"></a></td>
						<td id="offer3"><a href="http://google.bg"><img src="../img/cards/home/wedding_cake.jpg"></a></td>
					</tr>
					<tr id="name">
						<td><a href="http://google.bg">Русалка</a></td>
						<td><a href="http://google.bg">Котешка роза</a></td>
						<td><a href="http://google.bg">Около света</a></td>
						<td><a href="http://google.bg">Сватбена торта</a></td>
					</tr>
					<tr id="hLine">
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
					</tr>
					<tr id="price">
						<td>2,00 лв.</td>
						<td>3,00 лв.</td>
						<td>5,00 лв.</td>
						<td>2,50 лв.</td>
					</tr>
					<tr id="hLine2">
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
					</tr>
					<tr id="buttons">
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
					</tr>
				</table>
			</div>

		</div>

	</div>
</div>