	<div class="container">
			<div class="slider">
				<div id="slides">
					<img src="../img/img_slider/cards.jpg">
					<img src="../img/img_slider/flowers.jpeg">
				</div>
			</div>

			<div id="weekly-offers">
				<p>Най-продавани</p>
				<hr>
				<table>
					<tr id="home-pictures">
						<td class="home-card">
							<div class="home-img"><a  href="#/singlecard?imgId=16&name=Русалка&price=2.00"><img src="img/cards/16.jpg"></a></div>
							<div class="home-name1"><a href="#/singlecard?imgId=16&name=Русалка&price=2.00">Русалка</a></div>
							<hr>
							<div class="home-price">2.00 лв.</div>
							<hr>
							<div class="home-add-button"><a href="#/singlecard?imgId=16&name=Русалка&price=2.00">виж повече</a></div>
						</td>
						<td class="home-card">
							<div class="home-img"><a  href="#/singlecard?imgId=32&name=Котешка розa&price=8.00"><img src="img/cards/32.jpg"></a></div>
							<div class="home-name2"><a href="#/singlecard?imgId=32&name=Котешка розa&price=8.00">Котешка розa</a></div>
							<hr>
							<div class="home-price">8.00 лв.</div>
							<hr>
							<div class="home-add-button"><a href="#/singlecard?imgId=32&name=Котешка розa&price=8.00">виж повече</a></div>
						</td>
						<td class="home-card">
							<div class="home-img"><a  href="#/singlecard?imgId=34&name=Около света&price=3.50"><img src="img/cards/34.jpg"></a></div>
							<div class="home-name3"><a href="#/singlecard?imgId=34&name=Около света&price=3.50">Около света</a></div>
							<hr>
							<div class="home-price">3.50 лв.</div>
							<hr>
							<div class="home-add-button"><a href="#//singlecard?imgId=34&name=Около света&price=3.50">виж повече</a></div>
						</td>
						<td class="home-card">
							<div class="home-img"><a  href="#/singlecard?imgId=25&name=Сватбена торта&price=2.50"><img src="img/cards/25.jpg"></a></div>
							<div class="home-name4"><a href="#/singlecard?imgId=25&name=Сватбена торта&price=2.50">Сватбена торта</a></div>
							<hr>
							<div class="home-price">2.50 лв.</div>
							<hr>
							<div class="home-add-button"><a href="#/singlecard?imgId=25&name=Сватбена торта&price=2.50">виж повече</a></div>
						</td>
					</tr>
				</table>
			</div>

		</div>

	</div>
</div>