
<div id="container">
    <div id="about">
        <div>Доставка</div>
        <hr>
        <p><span>Опаковане</span> - Поставяме картичката в плик, който от своя страна поставяме в друг плик и запечатваме. Така имате един бонус плик, който можете да използвате.<p>
        <p><span>Доставка</span> - Доставката се извършва чрез куриерите на Еконт Експрес.<p>
        <p><span>Цена</span> - Доставката на една картичка струва 6.14 лв. за цялата страна.<p>
        <p><span>Срокове</span> - Изпращаме картичката на следващия работен ден след като сте я поръчали, а получавате картичката на следващия работен ден след като сме я изпратили.<p>
        <div>Плащане</div>
        <hr>
        <p><span>Наложен платеж</span> - Плаща се на куриера, когато Ви достави картичката.<p>

    </div>

</div>
