<div class="container_cart" ng-controller="CartCtrl">
	<div id="cards_title">Кошница</div>
	<hr id="cards_hr">
	<div class="empty-cart-msg" ng-if="items.length == 0">The cart is empty.</div>
	<table id="cart_table" ng-if="items.length > 0">
		<tr>
			<th>№</th>
			<th>Артикул</th>
			<th>Брой</th>
			<th>Цена</th>
			<th></th>
		</tr>
		<tr ng:repeat="item in items">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td><input type="text" maxlength="4" ng-keydown="validateNums($event)" ng-value="item.quantity" ng-model="quantity" />
				<br>
				<div class="update"ng-click="update(item.id, quantity)">[смени]</div>
			</td>
			<td ng-init="$parent.total = total + item.price * item.quantity">
				{{item.price }} x {{ item.quantity }} = {{item.price * item.quantity }} лв.
			</td>
			<td><button class="delete" ng-click="delete(item.id)">изтрий</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td id="total">Общо: {{ total }} лв.</td>
			<td></td>
		</tr>
	</table>
	<br>
	<div id="DeleteCart" ng-click="deleteAll()">[ Изпразни кошницата ]</div>
	<p id="order">Поръчка</p>
	<hr id="order_hr">
	<table id="order_table">
		<tr>
			<td class="order_align">Име</td>
			<td><input type="text" name="name" required></td>
		</tr>
		<tr>
			<td class="order_align">Фамилия</td>
			<td><input type="text" name="name" required></td>
		</tr>
		<tr>
			<td class="order_align">Адрес</td>
			<td><textarea id="input_text" cols="50" rows="10" name="text" required></textarea></td>
		</tr>
		<tr>
			<td class="order_align">Email</td>
			<td><input type="email" name="_replyto" required></td>
		</tr>
		<tr>
			<td class="order_align">Телефон</td>
			<td><input type="text" name="gsm"></td>
		</tr>
		<tr>
			<td class="order_align">Забележка</td>
			<td><textarea id="input_text" cols="50" rows="10" name="text" required></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><button class="order_button">Поръчай</button></td>
		</tr>
	</table>
</div>
