 <div id="container_singlecard">
     <li id="back"><a href="#/cards.html">назад</a></li>
     <hr id="cards_single_line">
     <div id="gallery">
         <div id="large_img"><a href="../img/cards/birthday/1.jpg" data-lightbox="card1"><img src="/img/cards/birthday/1.jpg" /></a></div>
         <div id="small_img1"><a href="../img/cards/birthday/1_1.jpg" data-lightbox="card1"><img src="/img/cards/birthday/1_1.jpg" /></a></div>
         <div id="small_img2"><a href="../img/cards/birthday/1_2.jpg" data-lightbox="card1"><img src="/img/cards/birthday/1_2.jpg" /></a></div>
     </div>
     <p id="card_name">Тук трябва да стои името на картичката</p>
      <p id="card_price">Цена: <span id="price_bold">4.99</span> лв.</p>
     <p id="buy_header">Добави в кошницата:</p>
     <hr id="buy_line">
     <div>
         <span id="input_count">бр.:</span> <input  type="text" name="count" value="1" maxlength="3">
         <span id="input_price">цена:</span> <input  type="text" name="price" value="4.99" readonly> лв.
         <li id="add"><a href="cards.html">добави</a></li>
     </div>
</div>

               