<!DOCTYPE>
<html ng-app="myCardSite">
<head>
	<title>Todor Cart</title>
</head>
<body>
<div class="container" ng-controller="CartCtrl">
    
    Name: <input type="text" ng-model="card.name">
    <br>
    <br>
    Price: <input type="number" ng-model="card.price"> 
    <br>
    <br>
    Quantity: <input type="number" ng-model="card.quantity">
    <br>
    <br>
    
	<button class="print" ng-click="print()">PRINT</button> <!-- printing DB data (all cards in the cart) -->
	<button class="add" ng-click="add({name: 'asdsad', price: '123', quality: '12'})">ADD</button>

	<table border="1">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>DEL</th>
		</tr>
		</thead>
		<tr ng:repeat="item in items" id="{{item.id}}">
      <td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td><input type="number" min="0" value="{{ item.quantity }}" ng-model="test"></td>
			<td><button class="update" ng-click="update(item.id, test)">UPDATE</button></td>
			<td><button class="delete" ng-click="delete(item.id)">DELETE</button></td>
		</tr>
	</table>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="src/app.js"></script>
<script src="src/cart-controller.js"></script>
</body>
</html>