<!DOCTYPE>
<html ng-app="myCardSite">
<head>
	<title>Todor Cart</title>
</head>
<body>
<div class="container" ng-controller="CartCtrl">
    
    Name: <input type="text" ng-model="card.name">
    <br>
    <br>
    Price: <input type="text" ng-model="card.price"> //май ще трябва да се превърне от стринг в число по някакъв начин
    <br>
    <br>
    Quantity: <input type="number" ng-model="card.quantity">
    <br>
    <br>
    
	<button class="print" ng-click="print()">PRINT</button> <!-- printing DB data (all cards in the cart) -->
    <button class="edit" ng-click="add(card)">ADD</button>
	<button class="edit" ng-click="edit()">EDIT</button>
	<button class="update" ng-click="update()">UPDATE</button>
	<button class="delete" ng-click="delete()">DELETE</button>

	<table border="1">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		</thead>
		<tr ng:repeat="item in items">
            <td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.quantity}}</td>
		</tr>
	</table>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="src/app.js"></script>
<script src="src/cart-controller.js"></script>
</body>
</html>