<div id="container">

	<div class="slider">
		<div id="slides">
			<img src="../img/img_slider/cards.jpg">
            <img src="../img/img_slider/flowers.jpeg">
		</div>
	</div>

	<div id="contact">
		<div>Контакти</div>
		<hr>
		<p><span class="contact_text">skype:</span> Card Shop </p>
		<p><span class="contact_text">e-mail:</span> card_shop@abv.bg</p>
		<p><span class="contact_text">тел.:</span> 0883 388 888 (от понеделник до петък 11:00-19:00ч.) </p>
		<p>Не се колебайте да ни потърсите за консултация.</p>

		<form action="https://formspree.io/tgarnev@abv.bg" method="POST">
			<p>Запитване</p>
			<hr>
			<table>
				<tr>
					<td class="align">Име</td>
					<td><input type="text" name="name" required></td>
				</tr>
				<tr>
					<td class="align">Email</td>
					<td><input type="email" name="_replyto" required></td>
				</tr>
				<tr>
					<td class="align">Телефон</td>
					<td><input type="text" name="gsm"></td>
				</tr>
				<tr>
					<td class="align">Съобщение</td>
					<td><textarea id="input_text" cols="25" rows="5" name="text" required></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td><input id="contact_button" type="submit" value="Изпрати"></td>
				</tr>
			</table>
		</form>

	</div>