	<div id="container">
			<div class="slider">
				<div id="slides">
					<img src="../img/img_slider/example-slide-1.jpg">
					<img src="../img/img_slider/example-slide-2.jpg">
					<img src="../img/img_slider/example-slide-3.jpg">
					<img src="../img/img_slider/example-slide-4.jpg">
				</div>
			</div>

			<div id="weekly_offers">
				<p>Най-продавани</p>
				<hr>
				<table>
					<tr id="pictures">
						<td id="offer1"><a  href="http://google.bg"><img src="../img/2.jpg"></a></td>
						<td id="offer2"><a href="http://google.bg"><img src="../img/3.jpg"></a></td>
						<td id="offer3"><a href="http://google.bg"><img src="../img/4.png"></a></td>
						<td id="offer4"><a href="http://google.bg"><img src="../img/panda.jpg"></a></td>
					</tr>
					<tr id="name">
						<td><a href="http://google.bg">Name</a></td>
						<td><a href="http://google.bg">Name</a></td>
						<td><a href="http://google.bg">Name</a></td>
						<td><a href="http://google.bg">Name</a></td>
					</tr>
					<tr id="hLine">
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
					</tr>
					<tr id="price">
						<td>1,50 лв.</td>
						<td>1,50 лв.</td>
						<td>1,50 лв.</td>
						<td>1,50 лв.</td>
					</tr>
					<tr id="hLine2">
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
						<td><hr></td>
					</tr>
					<tr id="buttons">
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
						<td><li><a href="http://google.bg">Виж повече</a></li></td>
					</tr>
				</table>
			</div>

		</div>

	</div>
</div>