<div class="container_cart" ng-controller="CartCtrl">

	<!-- Name: <input type="text" ng-model="card.name">
	<br>
	<br>
	Price: <input type="number" min="0" ng-model="card.price">
	<br>
	<br>
	Quantity: <input type="number" min="0" ng-model="card.quantity">
	<br>
	<br> -->

	<button class="print" ng-click="printAll()">PRINT</button> <!-- printing DB data (all cards in the cart) -->
	<!-- <button class="add" ng-click="add({name: card.name, price: card.price, quantity: card.quantity})">ADD</button> -->

	<table id="cart_table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>UPDATE</th>
			<th>DEL</th>
		</tr>
		<tr ng:repeat="item in items">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td><input type="number" min="0" step="1" value="{{ item.quantity }}" ng-model="test"></td>
			<td ng-init="$parent.total = total + item.price * item.quantity">Price: {{item.price * item.quantity | currency }}</td>
			<td><button class="update" ng-click="update(item.id, test)">UPDATE</button></td>
			<td><button class="delete" ng-click="delete(item.id)">DELETE</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Total: {{ total | currency }}</td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
