/**** SITE BACKGROUND ****/

body {
    background: url(../img/background.jpg) repeat;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/**** BODY ****/

#main-container {
    margin: auto;
    width: 1000px;
    margin-top: 100px;
}

#combined {
    margin-top: 150px;
}

#container {
    margin: auto;
    border-radius: 3px;
    padding: 10px;
    width: 1000px;
    height: 660px;
    background-color: whitesmoke;
    background-size: contain;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**** MENU ****/

.top-menu {
    margin: 0;
    padding-left: 0;
    left: -10%;
    position: relative;
}

#menu ul {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    width: 425px;
    padding: 0;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    text-align: center;
    width: 75px;
    height: auto;
    padding: 5px;
    color: white;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
}

#first {
    border-top-left-radius: 5px;
}

#last {
    border-top-right-radius: 5px;
}

#menu li a:hover:not(.active) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
    color: white;
    font-weight: bold;
}

#menu li a.active {
    color: white;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
}

/**** SIDE MENU ICONS ****/

#side-menu {
    list-style-type: none;
    position: relative;
    margin: 0;
    left: 43%;
    z-index: 10;
}

#side-menu li {
    float: left;
}

#side-menu li a {
    display: block;
    margin-left: 10px;
}

#facebook {
    width: 30px;
    height: 30px;
    margin-top: -2px;
    background-image: url(../img/fb2.png);
    background-size: contain;
}

#facebook:hover {
    width: 40px;
    height: 40px;
    background-image: url(../img/fb2.png);
    background-size: contain;
    margin-top: -12px;
    margin-left: 5px;
}

#cart {
    width: 50px;
    height: 50px;
    background-image: url(../img/cart.png);
    background-size: contain;
    margin-top: -12px;
}

#cart:hover {
    width: 65px;
    height: 65px;
    background-image: url(../img/cart_green.png);
    background-size: contain;
    margin: -23px -10px 0 5px;
}

/**** LOGO ****/

#logo {
    display: block;
    float: right;
    margin-top: -145px;
    margin-right: 50px;
    width: 300px;
    height: 150px;
    //background-image: url(../img/logo1.gif);
    background-size: cover;
}

/**** SLIDER ****/

.slider {
    width: 800px;
    height: 300px;
    margin: auto auto auto 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#slides {
    display: none
}

#slides .slidesjs-navigation {
    margin-top: 5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    background-image: url(../img/img_slider/btns-next-prev.png);
    background-repeat: no-repeat;
    display: block;
    width: 12px;
    height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
}

a.slidesjs-next {
    margin-right: 10px;
    background-position: -12px 0;
}

a:hover.slidesjs-next {
    background-position: -12px -18px;
}

a.slidesjs-previous {
    background-position: 0 0;
}

a:hover.slidesjs-previous {
    background-position: 0 -18px;
}

a.slidesjs-play {
    width: 15px;
    background-position: -25px 0;
}

a:hover.slidesjs-play {
    background-position: -25px -18px;
}

a.slidesjs-stop {
    width: 18px;
    background-position: -41px 0;
}

a:hover.slidesjs-stop {
    background-position: -41px -18px;
}

.slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background: url(../img/img_slider/pagination.png) 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #333
}

#slides a:hover,
#slides a:active {
    color: #9e2020
}

.navbar {
    overflow: hidden
}

/**** FOOTER ****/

#footer {
    margin-top: 20px;
    margin-left: 780px;
}

#footer li {
    display: block;
    text-decoration: none;
    float: left;
}

#footer li a {
    text-decoration: none;
    color: mediumvioletred;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13px;
}

#footer li span {
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.5;
}

#copyright {
    text-align: right;
    margin-top: 25px;
    margin-right: 450px;
    font-size: 13px;
    opacity: 0.5;
}

/**** WEEKLY OFFERS ****/

#weekly_offers {
    margin-top: 50px;
    font-family: 'Lobster', cursive;
}

#weekly_offers hr {
    opacity: 0.3;
}

#weekly_offers p {
    margin: auto auto 15px 25px;
    text-align: left;
    font-size: 20px;
}

#weekly_offers table {
    margin-left: 50px;
    width: 100%;
}

#weekly_offers td {
    display: block;
    float: left;
    width: 130px;
    height: 130px;
    margin-left: 75px;
    text-align: center;
}

#offer1 img {
    border: 1px solid grey;
    width: 130px;
    height: 130px;
}

#offer2 img {
    border: 1px solid grey;
    width: 130px;
    height: 130px;
}

#offer3 img {
    border: 1px solid grey;
    width: 130px;
    height: 130px;
}

#offer4 img {
    border: 1px solid grey;
    width: 130px;
    height: 130px;
}

#name td {
    margin-top: 10px;
    height: 20px;
    margin-bottom: -5px;
}

#name a {
    text-decoration: none;
    color: black;
}

#hLine td {
    margin-top: -5px;
    height: 20px;
}

#price td {
    margin-top: -5px;
    height: 20px;
    margin-bottom: -5px;
}

#hLine2 td {
    margin-top: -5px;
    height: 20px;
}

#buttons a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#buttons li {
    padding: 2px;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    font-family: "Times New Roman";
    box-shadow: #B4B5B5 2px 2px 2px;
    border-radius: 10px;
    width: 90px;
    height: auto;
    list-style-type: none;
    margin-left: 20px;
}

#buttons li:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
    cursor: pointer;
}

#buttons td {
    height: auto;
}

/*******ABOUT*******/

#about div {
    margin-top: 50px;
    margin-left: 25px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
}

#about p {
    text-align: left;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 100px;
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#about hr {
    margin-bottom: 50px;
    opacity: 0.3;
}

#about span {
    font-weight: bold;
}

/*******CONTACT*******/

#contact div {
    margin: 50px 0 15px 25px;
    text-align: left;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

#contact hr {
    margin-bottom: 50px;
    opacity: 0.3;
}

#contact p {
    margin-left: 50px;
    width: 450px;
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.contact_text {
    font-weight: bold;
}

#contact form {
    display: block;
    margin-left: 650px;
    margin-top: -170px;
    width: 300px;
}

#contact form hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact form p {
    margin: 0 0 -5px 100px;
    font-size: 20px;
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#contact_button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    box-shadow: #B4B5B5 2px 2px 2px;
    border-radius: 50px;
    font-size: 14px;
    color: white;
 }

#contact_button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
    cursor: pointer;
}

.align {
    text-align: right;
}

#contact form td input {
    background-image: url(../img/shadow.jpg);
    border: 1px solid gray;
}

#contact form td textarea {
    background-image: url(../img/shadow.jpg);
    border: 1px solid gray;
}

/*******CARDS*******/

#cards_title {
    margin: 20px 0 0 25px;
    text-align: left;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

#cards_hr {
    margin-bottom: 20px;
    opacity: 0.3;
}

#cards {
    margin-left: -10px;
    margin-top: 25px;
}

#cards td {
    padding-left: 25px;
}

#cards_name td {
    height: auto;
    text-align: center;
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#cards_name a {
    text-decoration: none;
    color: black;
}

.cards_hLine td {
    height: auto;
    opacity: 0.3;
}

#cards_price td {
    margin-top: -5px;
    height: auto;
    text-align: center;
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#cards_buttons a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#cards_buttons li {
    margin: -5px 0 50px 65px;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    font-family: "Times New Roman";
    box-shadow: #B4B5B5 2px 2px 2px;
    width: 90px;
    height: 20px;
    padding: 0;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
}

#cards_buttons li:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
    cursor: pointer;
}

.card img {
    border: 7px solid lightpink;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container_cards {
    margin: auto;
    border-radius: 3px;
    padding: 10px;
    width: 1000px;
    height: auto;
    background-color: whitesmoke;
    background-size: contain;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*******CARDS DROPDOWN*******/

#dropdown ul {
    position: absolute;
    width: 85px;
    display: none;
    padding: 0;
    z-index: 5000;
}

#dropdown ul li a {
    height: auto;
}

/*******CARDS SINGLE PAGE*******/

#container_singlecard {
    margin: auto;
    border-radius: 3px;
    padding: 10px;
    width: 1000px;
    height: 750px;
    background-color: whitesmoke;
    background-size: contain;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cards_single_line {
    margin-top: 50px;
    width: 900px;
}

#back {
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 20px 50px 0 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    font-family: "Times New Roman";
    box-shadow: #B4B5B5 2px 2px 2px;
    width: 60px;
    height: 20px;
    list-style-type: none;
    border-radius: 20px;
}

#back:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
    cursor: pointer;
}

#back a {
    text-decoration: none;
    color: white;
}

#cards_single_line {
    opacity: 0.3;
}

#gallery {
    width: 425px;
    margin: 25px 25px 0 25px;
    float: left;
}

#large_img img {
    width: 400px;
    height: 500px;
    border: 5px solid #ffe1e6;
}

#large_img img:hover {
    border: 5px solid lightpink;
}


#small_img1 img {
    margin-top: 10px;
    margin-left: 70px;
    width: 123px;
    height: 123px;
    border: 5px solid #ffe1e6;
    display: inline;
    float: left;
}

#small_img1 img:hover {
    border: 5px solid lightpink;
}

#small_img2 img {
    margin-top: 10px;
    margin-left: 10px;
    width: 123px;
    height: 123px;
    border: 5px solid #ffe1e6;
    display: inline;
    float: left;
}

#small_img2 img:hover {
    border: 5px solid lightpink;
}


#card_name {
    margin-top: 100px;
    font-size: 25px;
    font-weight: bold;
}

#card_description {
    font-size: 20px;
}

#card_price {
    display: inline;
    margin-left: 400px;
    font-size: 15px;
    font-weight: bold;
}

#card_price span {
    font-size: 20px;
}

#buy_header {
    margin-bottom: 5px;
    font-weight: bold;
}

#buy_line {
    opacity: 0.5;
    margin-bottom: 20px;
}

#container_singlecard input {
    width: 50px;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
}

#input_price {
    margin-left: 25px;
}

#input_count {
    margin-left: 100px;
}

#add {
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: -27px 25px 0 850px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    font-family: "Times New Roman";
    box-shadow: #B4B5B5 2px 2px 2px;
    width: 80px;
    height: 20px;
    list-style-type: none;
    border-radius: 20px;
    border: 1px solid lightpink;
}

#add:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
    cursor: pointer;
}

#add a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#container_singlecard input {
    background-image: url(../img/shadow.jpg);
    border: 1px solid gray;
}

/*******SHOPPING CART*******/

.container_cart {
    margin: auto;
    border-radius: 3px;
    padding: 10px;
    width: 1000px;
    height: auto;
    background-color: whitesmoke;
    background-size: contain;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cart_table td, th {
    border: 1px solid lightpink;
    padding: 5px;
    text-align: center;
    padding: 10px;
}

#cart_table {
    margin-left: 200px;
    border-collapse: collapse;
}


#cart_table th {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    color: white;    
}

#cart_table input {
    width: 45px;
    height: auto;
    padding: 5px;
    font-weight: bold;
    background-image: url(../img/shadow.jpg);
}

#cart_table input:active {
    border-color: 3px solid blue;
}

.delete, .order_button {
    margin-top: 5px;
    padding: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5D5E0), to(#F27298));
    box-shadow: #B4B5B5 2px 2px 2px;
    border-radius: 5px;
    height: auto;
    cursor: pointer;
    color: white;
}

.delete:hover, .order_button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebacc2), to(#ee4376));
}

.update {
    margin-top: 5px;
    font-size: 13px;
    cursor: pointer;
}

#DeleteCart {
    margin-left: 200px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 100px;
 }

#DeleteCart:hover {
    opacity: 0.5;
}

#total {
    font-weight: bold;
}

#order {
    margin-left: 350px;
    margin-bottom: 0;
    font-size: 27px;
    font-family: 'Lobster', cursive;
}

.order_align {
    font-size: 15px;
    text-align: right;
    padding-top: 0;
    vertical-align: inherit;
}

#order_hr {
    margin-left: 345px;
    width: 375px;
    opacity: 0.3;
}

#order_table {
    margin-left: 260px;
    margin-bottom: 50px;
}

#order_table td, tr {
    padding: 0 10px 5px 0;
 }

#order_table input, textarea {
    background-image: url(../img/shadow.jpg);
    border: 1px solid gray;
}

#order_table input {
    height: 25px;
}

#contact form td textarea {
    background-image: url(../img/shadow.jpg);
    border: 1px solid gray;












